* {
  box-sizing: border-box;
}

body,
html {
  background-color: #f6f6f6;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1600px;
  margin: 1em auto;
}

@media screen and (max-width: 1600px) {
  .container {
    margin: 1em;
  }
}
